@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
:root {
  --gold: #EDA61C;
  --black: #000000;
  --white: #fafafa;
  --grey:#60605f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
}
/* Contenedor principal*/
.mainContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  max-width: 1440px;/* Se va adaptar a una resolucion maxima de 1440 por ancho */
  min-height: 100vh;
  margin: 0 auto;  
}
/* Estilos contenido general */
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--white);
  width: 100%;
}
/* Estilos encabezado */
.header {
  display: grid;
  grid-template-areas: "ico log";
  grid-template-columns: 10% 70%;
  position: relative;
  place-content: center;
  justify-content: start;
  width: 100%;
  height: 100px;
  padding-left: 10px;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.67) 11.04%);
}
/* Estilos logo */
.logo{
  display: grid;
  grid-area: log;
  place-content: center;
  width: 100%;
  z-index: 2;
}
.logo img{
  width: 100%;
  height: 100px;
  object-fit: contain;
}
/* Coportamiento menu hamburguesa */
.nav{
  display: grid;
  place-content: center;
  position: relative;
  --state-cerrar: scale(0);
  --state-abrir: scale(1);
  --state-menu: translate(-100%);
}
/* Comportamiento cuando se seleciona */
.nav:target{
  --state-cerrar: scale(1);/* se muestra el ico de cerrar y el ico de ham se desaparece */
  --state-abrir: scale(0);
  --state-menu: translate(0%);
}
.items{
  background-color:var(--grey);
  transform: var(--state-menu);
  display: grid;
  position: fixed;
  grid-area: ico;
  place-content: center;
  align-content: space-evenly;
  text-align: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  transition: .8s;
}
/* Estilos de la lista */
.items li{
  display: flex;
  place-content: center;
  align-items: center;
  list-style: none;
  width: 150px;
  height: 40px;
}
.items a{ 
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
} 
.items a:hover{
  color: var(--gold);
}
/* Estilos iconos */
.icoMenu , .icoCerrar{
  color: var(--gold);
  display: grid;
  grid-area: ico;
  place-content: center;
  font-size: 40px;
  transition: .4s;
  cursor: pointer;
}
.icoMenu{
  transform: var(--state-abrir);
}
.icoCerrar{
  transform: var(--state-cerrar);
  position: fixed;
}
.contAccion{
  background-color: var(--gold);
  border-radius: 10px;
  cursor: pointer;
}
.contAccion a{
  color: var(--black);
}
.contAccion a:hover{
  color: var(--white);
}
/* Estilo seccion sobre mi */
.presentacion{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  justify-content: space-around;
  gap: 10px;
  height: 400px; 
}
/* fondo */
.fondo{
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 600px;
  opacity: 50%;
  mask-image: linear-gradient(black 80%, transparent);/* Efecto de transpariencia a la img */
}
.sobreMi{
  background: #60605f80;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 90%;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  gap: 10px;
}
.vamos{
  font-size: 35px;
  color: var(--white);
  z-index: 1;  
}
/* Estilos seccion tecnologías */
.tecnologias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 300px;
  position: relative;
  gap: 10px;
}
.tecnologias h2{
  color: var(--gold);
}
.tecContenido{
  display: flex;
  justify-content: start;
  place-items: center;
  width: 80%;
  height: 50%;
  overflow: hidden;
}
.slaider{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 25px;
  transition: .8s;
}
.itemSlaider{
  z-index: 0;
}
.slaider p{
  font-size: 10px;
}
.slaider iconify-icon{
  font-size:50px;
  color:var(--white);
}
.slaider :hover{
  color:var(--gold);
  transition: .6s;
  transform: scale(1.2);
}
.izquierda , .derecha{
  position: absolute;
  background-color: transparent;
  color: var(--white);
  font-size: 25px;
  border: none;
}
.derecha{
  right: 1%;
  z-index: 1;
}
.izquierda{
  left: 1%;
  z-index: 1;
}
.izquierda :active, .derecha :active{
  transform: scale(1.5);
}
/* Estilos seccion proyectos */
.secProyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  gap: 20px;
  background: linear-gradient(to top, transparent, #60605f 80%, transparent 100%);
}
.secProyectos h2{
  color: var(--gold);
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.secProyectos p{
  width: 100%;
  padding: 0 20px 0; 
  text-align: center;
}
.proyectos{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.pro{
  width: 50%;
  height: 30%;
  position: relative;
}
.pro img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: .8;
  filter: grayscale(0.6);
}
.tex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  opacity: 0;
  transition: .8s;
  position: relative; 
  font-size: 25px;
  gap: 20px;
}
.tex a{
  text-decoration: none;
  font-size: 18px;
  background-color: var(--grey);
  color: var(--white);
  border-radius: 10px;
  width: 60%;
}
.tex:hover{
  background-color: var(--gold);
  opacity: 1;
  transition: .3s;
}
/* Cuarta seccion Formulario */
.contacto{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 480px;
}
.fondoFor{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  z-index: -1;
}
.formulario{
  position: relative;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 10px;
/*   background-color: #60605f4d;
  backdrop-filter: blur(2px); */
}
.nombre,.correo,.asunto,.mensaje{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  position: relative;
}
.formulario input, .formulario textarea{
  margin-bottom: 20px;
  height: 100%;
  width: 80%;
  padding-left: 3%;
  border: none;
  outline: none;/* Elimina lineas de seleccion  */
  background: linear-gradient(90deg, rgba(171, 185, 190, 0.20) 0%, rgba(79, 86, 88, 0.00) 70%);/* aplica degrade a 90 grados, seguido  */
  color: var(--white);
  border-radius: 10px;
}
.formulario input{
  height: 35px;
}
.formulario textarea{
  padding: 15px;
}
.formulario label{
  position: absolute;
  top: 15%;
  left: 3%;
}
.mensaje label{
  top: 5%;
}
/* animacion para los input's */
.nombre input:focus ~ label,.nombre input:valid ~ label, .correo input:focus ~ label, .correo input:valid ~ label, .asunto input:focus ~ label, .asunto input:valid ~ label, .mensaje textarea:focus ~ label, .mensaje textarea:valid ~ label{
  transform: translateY(-28px);
  transition: .3s;
}

/* boton */
.enviar{
  position: relative;
  left: 31%;
  text-align: center;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  background: var(--gold);
}
.enviar input{
  background: unset;
  padding-left: unset;
  border-radius: unset;
  width: 100%;
  color: var(--black);
  height: 100%;
}
/* Footer */
.footer {
  background-color: var(--grey);
  height: auto;
  color: var(--gold);
  align-items: center;
}
.icoFooter{
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icoFooter a{
  font-size: 40px;
  color: var(--gold);
  opacity: 0.9;
}
@media (min-width: 768px){
/* encabezado */
.header{
  display: flex;
  justify-content: center;
}
/* estilos del nav */
.nav{
  display: unset;
  position: unset;
  width: 100%;
}
.items{
  background-color: unset;
  display: flex;
  justify-content: space-around;
  position: unset;
  transform: unset;
  height: unset;
  padding-top: unset;
  transition: unset;
  width: 100%;
}
/* Estilos iconos nav */
.icoMenu , .icoCerrar{
display: none;
}
/* Estilos de la lista */
.items li{
  display: flex;
  width: auto;
  margin: 10px;
}
/* estilo boton contactame */
.contAccion a{
  width: 150px;
}
/* Estilos logo */
.logo{
  display: flex;
  width: 20%;
}
.logo img{
  height: 100%;
}
/* Seccion sobre mi */
.sobreMi h1{
  font-size: 35px;
}
.sobreMi p{
  font-size: 20px;
}
/* Estilos seccion tecnologías */
.tecnologias {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
}
.tecContenido{
  width: 60%;
}
.derecha{
  right: 15%;
}
.izquierda{
  left: 15%;
}
.tecnologias h2{
  font-size: 25px;
}
.slaider p{
  font-size: 12px;
}
.slaider iconify-icon{
  font-size:60px;
}
/* Estilos seccion proyectos */
.secProyectos{
  height: 700px;
}
.secProyectos h2{
  font-size: 25px;
}
.tex{
  font-size: 28px;
}
.tex a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 18%;
}
/* Cuarta seccion Formulario */
.contacto{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 480px;
}
.fondoFor{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}
.formulario{
  width: 70%;
  right: 13%;
  background: linear-gradient(90deg, rgba(171, 185, 190, 0.20) 0%, rgba(79, 86, 88, 0.00) 100%);/* aplica degrade a 90 grados, seguido  */
  border-radius: 10px ;
}
/* boton */
.enviar{
  left: 25%;
  width: 25%;
}
/* Footer */
.icoFooter{
  justify-content: center;
  gap: 20px;
}
}
@media (min-width: 1024px){
/* Estilo seccion sobre mi */
.presentacion{
  gap: 10px;
  height: 500px; 
}
/* fondo */
.fondo{
  height: 710px;
}
.sobreMi{
  background: linear-gradient(180deg, rgba(171, 185, 190, 0.20) 0%, rgba(79, 86, 88, 0.00) 100%);/* aplica degrade a 90 grados, seguido  */
  backdrop-filter: blur(2px);
  width: 80%;
  padding: 0px 50px 0px;
}
/* Estilos seccion tecnologías */

/* Estilos seccion proyectos */
.secProyectos{
  height: 900px;
}
/* Cuarta seccion Formulario */
.contacto{
  height: 580px;
}
/* boton */
.enviar{
  left: 20%;
  width: 20%;
}
}
@media (min-width: 1200px){

  /* Estilos seccion tecnologías */
.tecnologias{
  height: 400px;
}
.tecContenido{
  height: 140px;
}
.tecnologias h2{
  font-size: 30px;
}

/* Estilos seccion proyectos */
.secProyectos{
  height: 1200px;
}
.proyectos{
  width: 90%;
}
.secProyectos h2{
  font-size: 30px;
}
/* seccion contactame */
/* boton */
.enviar{
  left: 15%;
  width: 15%;
}
}
