@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
:root {
  --gold: #EDA61C;
  --black: #000000;
  --white: #fafafa;
  --grey:#60605f;
  --h1-movil: 36px;
  --h2-movil: 30px;
  --h3-movil: 25px;
  --h4-movil: 21px;
  --h5-movil: 17px;
  --parrafo-movil: 12px;
  --h1-desktop: 48px;
  --h2-desktop: 40px;
  --h3-desktop: 33px;
  --h4-desktop: 28px;
  --h5-desktop: 23px;
  --parrafo-desktop: 16px;
  --slaider-width: 90%;/* ancho del slaider contenedor */
  --slaider-height: 20vh;/* alto del slaider contenedor */
  --slaider-elemento-displayed: 3;/* Elementos vistos dentro del slaider */
  --slaider-element-width: calc(var(--slaider-width) / var(--slaider-elemento-displayed));
  --animacion: 25s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
}
/* Contenedor principal*/
.mainContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  max-width: 1440px;/* Se va adaptar a una resolucion maxima de 1440 por ancho */
  min-height: 100vh;
  margin: 0 auto;  
}
/* Estilos contenido general */
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--white);
  width: 100%;
}
/* Estilos encabezado */
.header {
  display: grid;
  grid-template-areas: "ico log";
  grid-template-columns: 10% 70%;
  position: relative;
  place-content: center;
  justify-content: start;
  width: 100%;
  height: 100px;
  padding-left: 10px;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.67) 11.04%);
}
/* Estilos logo */
.logo{
  display: grid;
  grid-area: log;
  place-content: center;
  width: 100%;
  z-index: 2;
}
.logo img{
  width: 100%;
  height: 100px;
  object-fit: contain;
}
/* Coportamiento menu hamburguesa */
.nav{
  display: grid;
  place-content: center;
  position: relative;
  --state-cerrar: scale(0);
  --state-abrir: scale(1);
  --state-menu: translate(-100%);
}
/* Comportamiento cuando se seleciona */
.nav:target{
  --state-cerrar: scale(1);/* se muestra el ico de cerrar y el ico de ham se desaparece */
  --state-abrir: scale(0);
  --state-menu: translate(0%);
}
.items{
  background-color:var(--grey);
  transform: var(--state-menu);
  display: grid;
  position: fixed;
  grid-area: ico;
  place-content: center;
  align-content: space-evenly;
  text-align: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  transition: .8s;
}
/* Estilos de la lista */
.items li{
  display: flex;
  place-content: center;
  align-items: center;
  list-style: none;
  width: 150px;
  height: 40px;
}
.items a{ 
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
} 
.items a:hover{
  color: var(--gold);
}
/* Estilos iconos */
.icoMenu , .icoCerrar{
  color: var(--gold);
  display: grid;
  grid-area: ico;
  place-content: center;
  font-size: 40px;
  transition: .4s;
  cursor: pointer;
}
.icoMenu{
  transform: var(--state-abrir);
}
.icoCerrar{
  transform: var(--state-cerrar);
  position: fixed;
}
.contAccion{
  background-color: var(--gold);
  border-radius: 10px;
  cursor: pointer;
}
.contAccion a{
  color: var(--black);
}
.contAccion a:hover{
  color: var(--white);
}
/* fondo */
.fondo{
  position: absolute;
  bottom:50px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 550px;
  opacity: 0.5;
  mask-image: linear-gradient(black 80%, transparent);/* Efecto de transpariencia a la img */
}
/* Estilo seccion sobre mi */
.presentacion{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  justify-content: space-around;
  gap: 10px;
  height: 450px;
}
.sobreMi{
  background: linear-gradient(90deg, rgb(23 24 24 / 75%) 90%, rgba(79, 86, 88, 0) 100%);/* aplica degrade a 90 grados, seguido  */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 90%;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  gap: 10px;
  z-index: 1;
}
.sobreMi h1{
  font-size: var(--h1-movil);
  color: var(--gold);
}
.sobreMi h1 span{
  color: var(--white);
}
.sobreMi p{
  font-size: var(--h4-movil);
  color: var(--gold);
}
.frases{
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 30px;
  position: relative;
  font-size: var(--h4-movil);
}
.frase {
  width: 100%;
  position: absolute;
  top: 0%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/* Estilo para mostrar el item activo  */
.frase.active {
  opacity: 1;
}
.comencemos {
  font-size: var(--h3-movil);
  color: var(--white);
}
.comencemos :hover{
  color: var(--gold);
  transition: .4s ease-out;
  transform: scale(1.5);
}
/* Estilos seccion tecnologías */
.tecnologias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 300px;
  position: relative;
  gap: 10px;
}
.tecnologias h2{
  font-size: var(--h2-movil);
  text-align: center;
  color: var(--gold);
}
.tecContenido {
  width: var(--slaider-width);
  height: var(--slaider-height);
  color: var(--white);
  overflow: hidden;
  position: relative;
}
.slaider {
  list-style: none;
  height: 100%;
  display: flex;
  animation: desplazar var(--animacion) linear infinite;
}
.slaider:hover {/* Permite pausar la animación al hacer hover */
  animation-play-state: paused;
}
.slaider li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: var(--slaider-element-width);
  white-space: nowrap;
  transition: all .2s;
}
.slaider li img {
  width: 50%;
}
.slaider li:hover {
  transform: scale(1.2);
}
/* Estilos seccion proyectos */
.secProyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 620px;
  gap: 20px;
  background: linear-gradient(to top, transparent, #60605f 80%, transparent 100%);
}
.secProyectos h2{
  color: var(--gold);
  font-size: var(--h2-movil);
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.secProyectos p{
  font-size: var(--h4-movil);
  color: var(--white);
  width: 100%;
  padding: 0 20px 0; 
  text-align: center;
}
.proyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.carrusel{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.atras iconify-icon, .adelante iconify-icon{
  font-size: 30px;
  border-radius: 100%;
  color: var(--white);
  transition: all .10s;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.atras iconify-icon:active, .adelante iconify-icon:active{
  transform: scale(1.2);
  outline: 1px solid;
  outline-offset: 10px;
  outline-color: rgba(255, 255, 255, 0);
}
.conImg{
  position: relative;
  top: 108px;
  height: 350px;
}
.imagenes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 80%;
  height: 10%;
}
.img{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.85);
  height: 280px;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  bottom: 5%;
  position: relative;
  object-fit: cover;
}
.texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transform: translateY(0px);
  background-color: rgba(128, 128, 128, 0.821);
  border-radius: 10px 10px 0 0;
  bottom:0px;
}
.texto h3{
  font-size: var(--h3-movil);
  color: var(--gold);
}
.texto p{
  align-items: center;
  font-size: 0px;
}
.imagenes .texto{
  width: 100%;
  height: 50px;
  transition: 1s;
  cursor: pointer;
}
.imagenes:hover .texto{
  /* transform: translateY(-150px); */
  height: 140px;
  background-color: #1c1c1be9;
  cursor: pointer;
}
.imagenes:hover .texto p{
  font-size: var(--h5-movil);
  width: 80%;
}
.puntos{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.puntos p{
  font-size: 100px;
  margin-top: -50px;
  color: var(--white);
  padding: 0 5px;
}
.puntos .bold{
  color: var(--gold);
}
.btnTProyectos{
  background-color: var(--grey);
  color: var(--white);
  width: 200px;
  height: 35px;
  font-size: var(--h5-movil);
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
  place-content: center;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.btnTProyectos:hover{
  color: var(--gold);
  outline: 1px solid;
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}
/* Cuarta seccion Formulario */
.contacto{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 480px;
}
.contacto h2{
  font-size: var(--h2-movil);
  color: var(--white);
}
.fondoFor{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  z-index: -1;
  mask-image: linear-gradient(0deg, black 71%, transparent);
}
.formulario{
  position: relative;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 10px;
/*   background-color: #60605f4d;
  backdrop-filter: blur(2px); */
}
.nombre,.correo,.asunto,.mensaje{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  position: relative;
}
.formulario input, .formulario textarea{
  margin-bottom: 20px;
  height: 100%;
  width: 80%;
  padding-left: 3%;
  border: none;
  outline: none;/* Elimina lineas de seleccion  */
  background: linear-gradient(90deg, rgba(171, 185, 190, 0.20) 0%, rgba(79, 86, 88, 0.00) 70%);/* aplica degrade a 90 grados, seguido  */
  color: var(--white);
  border-radius: 10px;
}
.formulario input{
  height: 35px;
}
.formulario textarea{
  padding: 15px;
}
.formulario label{
  position: absolute;
  top: 15%;
  left: 3%;
  color: var(--white);
  font-size: var(--h5-movil);
}
.mensaje label{
  top: 5%;
}
/* animacion para los input's */
.nombre input:focus ~ label,.nombre input:valid ~ label, .correo input:focus ~ label, .correo input:valid ~ label, .asunto input:focus ~ label, .asunto input:valid ~ label, .mensaje textarea:focus ~ label, .mensaje textarea:valid ~ label{
  transform: translateY(-28px);
  transition: .3s;
}
/* boton */
.enviar{
  position: relative;
  left: 31%;
  text-align: center;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  background: var(--grey);
  
}
.enviar input{
  background: unset;
  padding-left: unset;
  border-radius: unset;
  width: 100%;
  color: var(--white);
  height: 100%;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.enviar input:hover{
  color: var(--gold);
  outline: 1px solid;
  border-radius: 10px;
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}
.enviar input:active{
  transform: scale(1.5);
}
/* Footer */
.footer {
  background-color: var(--grey);
  height: auto;
  color: var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
}
.aIconos{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.aIconos iconify-icon{
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.aIconos a{
  color: var(--gold);
}
.aIconos iconify-icon:hover{
  outline: 1px solid;
  border-radius: 100%;
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}
@media (min-width: 768px){
:root{
  --slaider-elemento-displayed: 5;/* Elementos vistos dentro del slaider */
}
/* encabezado */
.header{
  display: flex;
  justify-content: center;
}
/* estilos del nav */
.nav{
  display: unset;
  position: unset;
  width: 100%;
}
.items{
  background-color: unset;
  display: flex;
  justify-content: space-around;
  position: unset;
  transform: unset;
  height: unset;
  padding-top: unset;
  transition: unset;
  width: 100%;
}
/* Estilos iconos nav */
.icoMenu , .icoCerrar{
display: none;
}
/* Estilos de la lista */
.items li{
  display: flex;
  width: auto;
  margin: 10px;
}
/* estilo boton contactame */
.contAccion a{
  width: 150px;
}
/* Estilos logo */
.logo{
  display: flex;
  width: 20%;
}
.logo img{
  height: 100%;
}
/* Seccion sobre mi */
.sobreMi h1{
  font-size: var(--h1-movil);
}
.sobreMi p{
  font-size: var(--h4-movil);
}
/* Estilos seccion tecnologías */
.tecnologias {
  gap: 20px;
}
/* Estilos seccion proyectos */
.texto{
  border-radius: 10px;
}
.imagenes .texto{
  width: 80%;
}
/* Cuarta seccion Formulario */
.contacto{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 480px;
}
.fondoFor{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}
.formulario{
  width: 70%;
  right: 13%;
  background: linear-gradient(90deg, rgba(171, 185, 190, 0.20) 0%, rgba(79, 86, 88, 0.00) 100%);/* aplica degrade a 90 grados, seguido  */
  border-radius: 10px ;
}
/* boton */
.enviar{
  left: 25%;
  width: 25%;
}
/* Footer */
.icoFooter{
  justify-content: center;
  gap: 20px;
}
}
@media (min-width: 1024px){
/* Estilo seccion sobre mi */
.presentacion{
  gap: 10px;
  height: 500px; 
}
/* fondo */
.fondo{
  height: 710px;
}
.sobreMi{
  width: 50%;
}
/* Estilos seccion proyectos */
.secProyectos{
  height: 800px;
}
.proyectos{
  height: 600px;
}
.carrusel{
  height: 100%;
}
.img{
  height: 400px;
}
/* Cuarta seccion Formulario */
.contacto{
  height: 580px;
}
/* boton */
.enviar{
  left: 20%;
  width: 20%;
}
}
@media (min-width: 1200px){
:root{
  --slaider-elemento-displayed: 7/* Elementos vistos dentro del slaider */
}
  /* Estilos seccion tecnologías */
.tecnologias{
  height: 400px;
}
.tecnologias h2{
  font-size: var(--h3-desktop);
}
/* Estilos seccion proyectos */
.secProyectos h2{
  font-size: var(--h3-desktop);
}
/* seccion contactame */
/* boton */
.enviar{
  left: 15%;
  width: 15%;
  width: 150px;
  height: 40px;
}
.enviar input{
  font-size: var(--h5-desktop);
}
}

/* Animación para las frases sobre mi */
@keyframes desplazar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--slaider-element-width) * var(--slaider-elemento)));
  }
} 
/* Animación para el slaider */
@keyframes desplazar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--slaider-element-width) * var(--slaider-elemento)));
  }
}